@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="h1">Welcome to MyBooks </h1>
    <p >A simple and efficient way to manage books and authors.</p>
    <p> Explore a virtual library of books, view detailed author profiles, and track publication timelines — all in one place.</p>
    <p> <em>Note: This is a demo application. All data displayed is fictional.</em></p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
